.brand-container {
    padding: 20px;
    border: 2px solid #000000;
    max-width: 1200px;
    margin: 0 40px;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    overflow: hidden; /* Prevent content overflow */
}

.brand-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

/* Left Column for Image */
.brand-image {
    flex: 1;
    display: flex;
    align-items: center; /* Ensure the image stays centered */
    justify-content: center;
}

.brand-image img {
    width: 100%;
    height: auto; /* Make image responsive */
    object-fit: cover;
    border-radius: 8px;
}

/* Right Column for Text */
.brand-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* Text Styles */
.subheading, .brand-name, .offer {
    margin: 10px 0;
}

.subheading {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 54px;
}

.brand-name {
    color: #000000;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.offer {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .brand-container {
        padding: 15px;
        margin: 0 30px;
        margin-top: 5%;
    }

    .brand-content {
        flex-direction: column;
        align-items: center;
        gap: 15px; 
    }

    .brand-image {
        width: 100%;
        height: auto;
    }

    .brand-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    .brand-text {
        text-align: center;
        padding: 10px;
    }

    .subheading {
        font-size: 24px;
        line-height: 36px;
    }

    .brand-name {
        font-size: 28px;
    }

    .offer {
        font-size: 32px;
        line-height: 48px;
    }
}
