.lowest {
    padding: 0 30px;
    margin-top: 5%;
}

.lowestheading {
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    margin-bottom: 20px;
}

.lowest-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row for large screens */
    gap: 25px;
}

.lowest-card {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.lowest-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

.lowest-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    border-radius: 8px;
    width: fit-content;
}

.lowest-card-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #2D2E2E;
    margin-bottom: 5px;
}

.lowest-card-sub-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #2D2E2E;
    margin: 0;
}

/* Medium screens (between 768px and 1024px) */
@media (max-width: 1024px) {
    .lowest-cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    }
    
    .lowestheading {
        font-size: 28px; /* Adjust heading size */
    }
    
    .lowest {
        padding: 30px;
    }
}

/* Small screens (below 768px) */
@media (max-width: 768px) {
    .lowest-cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    }
    
    .lowestheading {
        font-size: 24px;
    }
    
    .lowest {
        padding: 0 30px;
    }
}

/* Extra small screens (below 480px) */
@media (max-width: 480px) {
    .lowest-cards-container {
        grid-template-columns: 1fr; /* 1 card per row */
    }
    
    .lowestheading {
        font-size: 24px;
    }
    
    .lowest {
        padding: 0 30px;
    }
}