.trending {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 3%;
    position: relative;
}

.trendingheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 28px; 
    font-weight: 600;
    line-height: 40px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2D2E2E;
    margin-bottom: 20px;
}

.trending-card-row {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.trending-card-row::-webkit-scrollbar {
    display: none; 
}

.trending-card {
    flex: 0 0 calc(33.33% - 16px); 
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start; 
    border-radius: 10px;
    box-shadow: 
      0 2px 4px rgba(0, 0, 0, 0.1),   
      0 4px 8px rgba(0, 0, 0, 0.08),  
      0 8px 16px rgba(0, 0, 0, 0.06),
      0 12px 24px rgba(0, 0, 0, 0.04); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .trending-card:hover {
    transform: translateY(-5px);
    box-shadow: 
      0 4px 8px rgba(0, 0, 0, 0.12), 
      0 8px 16px rgba(0, 0, 0, 0.10), 
      0 16px 32px rgba(0, 0, 0, 0.08);
  }
  
  

.trending-card-image-container {
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    border-radius: 10px;

}

.trending-card-image {
    width: 100%;
    aspect-ratio: 9 / 6; 
    object-fit: cover; 
    border-radius: 25px; 
    padding: 10px;
}




.trending-card-title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.trending-card-description {
    font-family: "Poppins", sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}



/* Responsive Breakpoints */

/* For larger screens (desktops) */
@media (min-width: 1024px) {
    .trending-card {
        flex: 0 0 calc(25% - 16px); 
    }

    .trendingheading {
        font-size: 34px;
        line-height: 54px;
    }
}

/* For smaller screens (tablets) */
@media (max-width: 1024px) {
    .trending-card {
        flex: 0 0 calc(50% - 16px); /* Two cards in a row */
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .trending-card {
        flex: 0 0 calc(50% - 16px); /* One card per row */
    }

    .trending {
        padding-left: 30px;
        padding-right: 30px;
    }
    .trending-card-title
     {
        font-size: 18px; 
        line-height: 24px;
    }
    .trending-card-description{
        font-size: 16px;
        line-height: 13px;
    }
    .trendingheading {
        font-size: 24px;
        line-height: 36px;
    }
}
